@import "../../../mixins.scss";

.personContainer {
    width: 100%;
    background-color: var(--black);
    padding-top: 100px;
    margin-bottom: 50px;
    position: relative;

    @include md {
        margin-bottom: 30px;
        padding-top: 120px;
        min-height: 700px;
        overflow: hidden;
    }

    .content {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 25px;

        @include md {
            gap: 50px;
            flex-direction: row;
        }

        .left {
            flex-shrink: 0;

            .posterImg {
                width: 100%;
                display: block;
                border-radius: 12px;

                @include md {
                    max-width: 350px;
                }
            }
        }

        .right {
            color: white;

            .title {
                font-size: 28px;
                line-height: 40px;

                @include md {
                    font-size: 34px;
                    line-height: 44px;
                }
            }

            .socialIcons {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-top: 10px;

                .icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: var(--black);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all ease 0.3s;
                    color: white;

                    &:hover {
                        box-shadow: 0 0 0.625em var(--pink);
                        color: var(--pink);
                    }
                }
            }
            .overview {
                margin-bottom: 25px;
                margin-top: 25px;

                .heading {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                .description {
                    line-height: 24px;
                    text-align: justify;
                    color: rgb(203, 198, 198);

                }

                .readMoreBtn {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    button {
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: rgb(9, 58, 181);
                        font-size: 16px;
                    }
                }
            }

            .row {
                display: flex;
                align-items: center;
                gap: 25px;
                margin-bottom: 25px;
            }

            .info2 {
                display: block !important;

                .aliasContainer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;

                    @include md {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    ul {
                        padding-left: 15px;
                    }

                }

            }

            .info {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                padding: 15px 0;
                display: flex;

                .infoItem {
                    margin-right: 10px;
                    display: flex;
                    flex-flow: row wrap;
                }

                .text {
                    margin-right: 10px;
                    opacity: 0.5;
                    line-height: 24px;

                    &.bold {
                        font-weight: 600;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .detailsBannerSkeleton {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 25px;

        @include md {
            gap: 50px;
            flex-direction: row;
        }

        .contentWrapper {
            display: flex;
            gap: 50px;
        }

        .left {
            flex-shrink: 0;
            width: 100%;
            display: block;
            border-radius: 12px;
            aspect-ratio: 1/1.5;

            @include md {
                max-width: 350px;
            }
        }

        .right {
            width: 100%;

            .row {
                width: 100%;
                height: 25px;
                margin-bottom: 20px;
                border-radius: 50px;

                &:nth-child(2) {
                    width: 75%;
                    margin-bottom: 50px;
                }

                &:nth-child(5) {
                    width: 50%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}