@mixin sm {
    @media only screen and (min-width: 640px) {
        @content;
    }
}

@mixin md {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin xl {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin xxl {
    @media only screen and (min-width: 1536px) {
        @content;
    }
}

@mixin ellipsis($line: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin scrollRow {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -20px;
    margin-left: -20px;
    padding: 3px 20px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    & > * {
        flex-shrink: 0;
        white-space: nowrap;
    }

    @include md {
        flex-wrap: wrap;
        overflow: visible;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
}
