@import '../../../mixins.scss';

.opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.banner {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-bottom: 20px;

    .list {
        display: flex;
        transition: transform 0.5s ease-in-out;

        .item {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: opacity 0.5s ease-in-out;
            opacity: 0;

            &.active {
                opacity: 1;
            }

            img {
                width: 100vw;
                height: 100vh;
                object-fit: cover;
                filter: blur(10px);
            }

            .content {
                position: absolute;
                top: 10%;
                width: 90%;
                left: 50%;
                transform: translateX(-50%);
                padding-right: 25%;
                box-sizing: border-box;
                color: #fff;
                z-index: 9;

                @include md {
                    width: 1140px;
                    max-width: 80%;
                    left: 50%;
                    top: 20%;
                }

                .genres {
                    margin-block: 10px;
                }

                .row {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    margin-bottom: 25px;
                }

                .playbtn {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;
                    width: fit-content;
                    padding: 2px 10px;
                    border-radius: 10px;
                    background: var(--pink);

                    @include md {
                        padding: 4px 15px;
                    }

                    svg {
                        width: 25px;
                        height: 50px;

                        @include md {
                            width: 30px;
                        }
                    }

                    .text {
                        font-size: 14px;
                        transition: all 0.7s ease-in-out;

                        @include md {
                            font-size: 16px;
                        }
                    }

                    .triangle {
                        stroke-dasharray: 240;
                        stroke-dashoffset: 480;
                        stroke: white;
                        transform: translateY(0);
                        transition: all 0.7s ease-in-out;
                    }

                    .circle {
                        stroke: white;
                        stroke-dasharray: 650;
                        stroke-dashoffset: 1300;
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover {
                        .text {
                            color: #eff703;
                        }

                        .triangle {
                            stroke-dashoffset: 0;
                            opacity: 1;
                            stroke: #eff703;
                            animation: trailorPlay 0.7s ease-in-out;
                        }

                        .circle {
                            stroke-dashoffset: 0;
                            stroke: #eff703;
                        }
                    }
                }

                .circleRating {
                    max-width: 60px;
                    background-color: var(--black2);

                    @include md {
                        max-width: 70px;
                    }

                    .CircularProgressbar-text {
                        fill: white;
                    }
                }
            }

            .author {
                font-weight: bold;
                letter-spacing: 10px;
            }

            .title {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 10px;
                line-height: 1.1;
                width: 100%;

                @include md {
                    font-size: 50px;
                    margin-bottom: 0;
                    line-height: 1.2;

                }
            }

            .des {
                font-size: 16px;
                margin-bottom: 20px;
                line-height: 1.3;
                color: rgb(203, 198, 198);

                @include md {
                    font-size: 20px;
                }
            }
        }
    }

    .thumbnail {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 900px;
        z-index: 99;
        overflow-x: scroll;
        display: flex;
        gap: 20px;
        border-radius: 20px;

        @include md {
            left: 50%;
        }

        .item {
            width: 130px;
            height: 200px;
            flex-shrink: 0;
            position: relative;
            cursor: pointer;
            opacity: 0.5;

            &.active {
                opacity: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }

            .content {
                color: #fff;
                position: absolute;
                bottom: 10px;
                left: 10px;
                right: 10px;

                .title {
                    font-weight: 500;
                }

                .description {
                    font-weight: 300;
                }
            }
        }
    }

    .time {
        position: absolute;
        z-index: 1000;
        width: 0%;
        height: 3px;
        background-color: #f1683a;
        left: 0;
        top: 0;

        &.next,
        &.prev {
            animation: runningTime 3s linear 1 forwards;
        }
    }

    &.next {
        .list {
            .item {
                &:nth-child(1) {
                    img {
                        width: 150px;
                        height: 220px;
                        position: absolute;
                        bottom: 50px;
                        left: 50%;
                        border-radius: 30px;
                        animation: showImage .5s linear 1 forwards;
                    }
                }
            }
        }

        .thumbnail {
            .item:nth-last-child(1) {
                overflow: hidden;
                animation: showThumbnail .5s linear 1 forwards;
            }

            animation: effectNext .5s linear 1 forwards;
        }
    }

    &.prev {
        .list {
            .item {
                &:nth-child(2) {
                    z-index: 2;

                    img {
                        animation: outFrame 0.5s linear 1 forwards;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    .content {

                        .author,
                        .title,
                        .topic,
                        .des,
                        .buttons {
                            animation: contentOut 1.5s linear 1 forwards !important;
                        }
                    }
                }

                img {
                    z-index: 100;
                }
            }
        }

        .thumbnail {
            .item:nth-child(1) {
                overflow: hidden;
                opacity: 0;
                animation: showThumbnail .5s linear 1 forwards;
            }
        }
    }
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

@keyframes runningTime {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .banner {
        .list {
            .item {
                .content {
                    padding-right: 0;
                }
            }
        }
    }

    .thumbnail {
        left: 0;
    }
}

.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #0a2955;
    border-radius: 8px;
    /* Adjust border radius as needed */

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(#193763, 0) 0,
                rgba(#193763, 0.2) 20%,
                rgba(#193763, 0.5) 60%,
                rgba(#193763, 0));
        animation: shimmer 2s infinite;
        content: "";
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.contentS {
    position: absolute;
    top: 10%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: #fff;
    z-index: 9;
    overflow: hidden;

    @include md {
        width: 1140px;
        max-width: 80%;
        left: 50%;
        top: 20%;
    }


    .titleS,
    .desS,
    .rowS,
    .genereDiv {
        margin-bottom: 10px;
    }

    .titleS {
        height: 50px;
        width: 100%;
    }

    .desS {
        height: 150px;
        width: 100%;
    }

    .genereDiv {
        display: flex;
        gap: 15px;

        .genereS {
            width: 90px;
            height: 25px;
        }

    }
    .rowS {
        display: flex;
        gap: 15px;

        .circle {
            height: 50px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }

        .buttonS {
            height: 50px;
            width: 150px;
        }
    }
}